@tailwind base;
@tailwind components;
@tailwind utilities;

/* Needs to be reviewed and reorganized with best practises */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 768px) {
  body {
    zoom: 60%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@layer base {
  :root {
    --container-size: 300px;
  }
}

@layer utilities {
  .slide-center {
    transform: translateX(
      calc(
        max(var(--container-size), 100vw) / 2 - calc(var(--container-size) / 2)
      )
    );
  }
}
